*{
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Lato', sans-serif; */
}
/* this is header styles */

.header-section{
    width: 100%;
    height: 80vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
       
}
.left-side-head{
    width: 400px;
}
.header-title{
    font-size:50px;
    font-weight:900px;
    color: #272727;
    font-weight: bolder;
       
}
.heading-img{
    width: 450px;
    height:550px;
    margin-top: 60px;
    margin-right: 80px;
}
.primary-description{
    color: rgba(39, 39, 39, 0.60);
    width: 480px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;

}
.btn{
    padding:10px 25px;
    background-color: #E55473;
    border: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

/* feature section styles */
.feature-title{
    text-align: center;
}
.our-feature-section{
    margin-bottom: 50px;
}
.pink-tree{
    text-align: center;
    text-decoration: underline;
    margin: 10px 0;
}
.pink-tree3{
    text-align: center;
    text-decoration: underline;
    margin: 12px 0;
}
.pink-tree2{
    text-align: center;
    text-decoration: underline;
    margin: 40px 0;
}
.all-flower{
    display:flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding:30px;
}
.flowers1{
    width: 270px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 200px 200px 0 0;

}
.flowers2{
    width: 270px;
    height: 350px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 200px 200px 0 0;

}
.flowers3{
    width: 270px;
    height: 350px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 200px 200px 0 0;

}

.flowers-pic{
    width: 70%;
    margin-top: 90px;
    margin-left: 30px;
    
}
.flowers-pic2{
    width: 90%;
    margin-top: 75px;
    margin-left: 20px;
    
     
}
.flowers-pic3{
    width: 70%;
    margin-top: 60px;
    margin-left: 40px;
    
}
.pink{
    text-align: center;
}
.flower-title{
   margin-top: 100px;
   margin-bottom: 20px;
}
.title{
    margin-bottom: 20px;
}
/* hot deal section styles */
.hot-deal-section{
    width: 100%;
    height: 50vh;
    background-color:rgba(229, 84, 115, 0.05);
    display:;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}
.deal-img{
    width: 200px;
}
.primary-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800px;
}
.hot-deal{
    margin-top: 50px;
}
span{
    color: #E55473;
}
.deal-title{
    margin-bottom:-8px;
}
/* instagram section styles */
.insta-text{
    text-align: center;
    align-items: center;
    margin-top: 80px;
   
}
.instagram-section{
    width: 80%;
    /* height: 60vh; */
    margin: auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding:30px;
        
}
.inst-des{
    margin: auto;
}
.insta-pic{
    width:100%;
}
.insta-img{
    width: 250px;
    height: 250px;
    margin-right: 10px;
}
/* latest deals section styles */
.latest-deals{
    width: 78%;
    height: 40vh;
    background-image: url('./images/Rectangle\ 9.png');
    background-position:center;
    background-size: cover;
    margin: 80px auto;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    
}
.parent{
    padding-top: 90px;
   
}
.get-title{
    margin-bottom: 10px;
}
.email{
    display: flex;
    justify-content: center;
    
}
.email-box input{
    padding: 20px 180px;
    margin-top: 22px;
    margin-right: 10px;
    font-size: 10px;
    color: rgba(39, 39, 39, 0.60);  
    font-size: 10px;
    border: none;
    border-radius: 5px;
   

}
.subscribe-btn{
    padding: 0 30px;
}

.input.btn{
    text-align: left;
}
/* footer styles */
.footer-section{
    width: 100%;
    height: 45vh;
    background-color: #111010;
    justify-content: center;
    text-align: center;
    
}
.foot-des{
    color: rgb(182, 173, 173);
    text-align: center;
    /* margin-top: 20px; */
}
.copy{
    color: rgba(255, 255, 255, 0.192);
    text-align: center;
    margin-top: 20px;
}
.foot-title{
    color: white;
    margin-bottom: 20px;
}
.footer-text{
    padding:100px 0;

}
